.header {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr min-content 1fr;
  position: relative;
  align-items: center;
  padding: 90px 50px 96px 50px;
}

.header_menu {
  display: flex;
  text-transform: lowercase;
  gap: 10px 33px;
  margin-top: 20px;
}

.header_link-list-item {
  margin-right: 32px; /* Отступ между элементами */
}

.header_link {
  white-space: nowrap;
  text-decoration: underline;
  text-underline-offset: 3px;
  font-size: 18px;
}

.header_link_active {
  text-decoration: none;
}

.menu {
  display: flex;
  list-style: circle;
  white-space: nowrap;
}

.header_link-list-item:first-child {
  list-style-type: none;  /* Убираем маркер для первого элемента списка */
}

.header_logo {
  display: flex;
  justify-self: center;
  align-self: center;
  width: 148px;
  height: 105px;
  margin-top: 20px;
}

.header_logo-image {
  max-height: 100%;
  object-fit: contain;
  justify-self: end;

}
.address {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  text-underline-offset: 5px;
}

.header_adress {
  max-width: 230px;
  max-height: 98px;
  font-size: 18px;
  font-style: normal;
  justify-self: right;
  line-height: 25px;
  margin-top: 19px;
  margin-right: 10px;
}

.cover {
  position: relative;
  z-index: 1;
  color: white;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1100px;
  padding: 175px 50px 50px 50px;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.cover_title {
  display: flex;
  flex-flow: column;
  row-gap: 24px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 30px;
  text-transform: uppercase;
  background-size: auto;
  letter-spacing: 0.3em;
}

.title_text_left {
  display: block;
  text-align: left;
}

.title_text_center {
  display: block;
  text-align: center;
  margin-left: 33px;
  margin-top: 10px;
}

.title_text_right {
  display: block;
  text-align: right;
  margin-right: -0.3em;
  margin-bottom: 90px;
  margin-top: 10px;
}

.cover_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover_description_text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 18px;
  margin-top: 23px;
}

.cta-button {
  font-family: Raleway, sans-serif;
  border: 1px solid #fff;
  color: #fff;
  padding: 12px 32px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  cursor: default;
  margin-top: 24px;
}

.lots {
  background-size: cover;  
  margin-left: 24px; 
  margin-right: 24px;
  margin-top:  180px;
}

.lots__heading {
  margin-top: 170px;
  margin-bottom: 25px;
  margin-left: 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 47px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  align-items: flex-start;
  width: 100%;
}

.lots__card-list-item {
  list-style-type: none;
  margin-bottom: 30px;
  width: 334px;

}

.card{
  display: flex;
  background-size: cover;
  background-position: center; /* Центрируем изображение */
  position: relative; /* Для наложений */
  z-index: 1;
  justify-content: space-between;
  flex-direction: column;
  color: #fff;
  padding: 48px 40px;
  min-width: 334px;
  min-height: 596px;
}

.card_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card__title {
  font-family: raleway, sans-serif;
  flex-direction: column;
  font-size: 22px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-transform: uppercase;
  text-underline-offset: 3px;
}

.card__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
}

.card_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  text-transform: lowercase;
  margin-left: 40px;
  font-size: 20px;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

.column_container {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 28px;
  padding: 130px 50px 90px 50px;
}

.logo_column {
  display: flex;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: black;
  margin-top: 26px;
  margin-left: 22px;
}

.about_logo_imagine {
  width: 148px;
  height: 114px;
  margin: auto;
  object-fit: contain;
}

.about_column {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
  margin-top: 125px;
}

.about_title {
  margin-bottom: 100px;
  margin-left: 43px;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.description-block {
  margin-top: 24px;
  margin-left: 46px;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
  background-color: white;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  margin-top: 90px;
}

.footer_address {
  justify-self: left;
  margin-left: 50px;
  line-height: normal;
  font-size: 18px;
  line-height: 24.3px;
}

.footer__menu {
  display: flex;
  text-transform: lowercase;
  justify-self: center;
  content: none;
  font-size: 18px;
  margin-top: 3px;
}
.footer__menu-list{
  align-items: center;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-list-item {
  list-style-type: none;
}

.footer__social-list {
  display: flex; /* Используем Flexbox для размещения элементов в ряд */
  justify-self: left;
  margin-left: 78px;
  gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}